<%- include("../partials/header") %>

    <h1>Mentor Register Page</h1>
    <form action="/mentor/register" method="POST">
        <input type="text" placeholder="username" name="username">
        <input type="password" placeholder="password" name="password">
        <input type="submit">
    </form>
    
<%- include("../partials/footer") %>