<%- include("partials/header") %>
<% include("../cssFiles/userProfile.css") %>
    <div class="container">
        <!-- <div class="row">
            <div class="col-xs-12 col-sm-9"> 
                <div class="panel panel-default">
                  <div class="panel-heading">
                  <h4 class="panel-title">User profile</h4>
                  </div>
                  <div class="panel-body">
                    <div class="profile__avatar">
                      <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="...">
                    </div>
                    <div class="profile__header">
                      <h4>Richard Roe <small>Administrator</small></h4>
                      <p class="text-muted">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non nostrum odio cum repellat veniam eligendi rem cumque magnam autem delectus qui.
                      </p>
                      <p>
                        <a href="#">bootdey.com</a>
                      </p>
                    </div>
                  </div>
                </div> -->
                <h1>User Profile with name <%= user.username%></h1>
        </div>
    </div>
<%- include("partials/footer") %>
